In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/suhas/Desktop/Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [3]:
# This is how we calculate mean.
# Call the pandas library, assign a dataframe and call '.mean()' to that df.
df.mean()

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

In [7]:
## to calculate the mean of a particular column 
# we have to import another library called 'Numpy'.
# 'Numpy' - Mathematical python
import numpy as np

In [10]:
np.mean(df['Age'])

38.85

In [13]:
# in the same way we can calculate the median of a particular column 
np.median(df['Age'])
# np.median(df['Annual Income (k$)'])

36.0

In [14]:
np.median(df['Annual Income (k$)'])

61.5

In [4]:
# This is how we calculate median.
# Call the pandas library, assign a dataframe and call '.median()' to that df.
df.median()

CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [5]:
## Mode is not available in this 'pandas' library.
## so we call a different library called 'statistics'.
import statistics as st

In [6]:
st.mode(df['Genre'])

'Female'